body{
    background-color: #E5F9DB;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 10rem;
    margin-bottom: 40px;
}
button{
    color: white;
    font-size: 3rem;
    height: 100px;
    width: 100px;
    background-color: #83764F;
    border-radius: 12%;
    border: #A2A378;
    border-style: solid;
    border-width: 10px;
}
.kit{
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 85px;
}
.w{
    background-image: url(drum1.png);
    background-size:cover;
    
}
.a{
    background-image: url("https://cdn-icons-png.flaticon.com/128/2972/2972003.png");
    background-size:cover;
    
}
.s{
    background-image: url("https://cdn-icons-png.flaticon.com/128/1/1222.png");
    background-size:cover;
    
}
.d{
    background-image: url("https://cdn-icons-png.flaticon.com/128/3233/3233947.png");
    background-size:cover;
    
}
.j{
    background-image: url("https://cdn-icons-png.flaticon.com/128/8541/8541691.png");
    background-size:cover;
    
}
.k{
    background-image: url("https://cdn-icons-png.flaticon.com/128/6659/6659143.png");
    background-size:cover;
    
}
.l{
    background-image: url("https://cdn-icons-png.flaticon.com/128/27/27193.png");
    background-size:cover;
    
}
.pressed{
    box-shadow: 0 3px 4px 0 gray;
    opacity: 0.5;
}
